html,
body,
#root,
.main {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Roboto Mono';
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('./fonts/RobotoMono-Regular.woff2') format('woff2'),
      url('./fonts/RobotoMono-Regular.woff') format('woff'),
      url('./fonts/RobotoMono-Regular.ttf') format('truetype'),
      url('./fonts/RobotoMono-Regular.svg#RobotoMono-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.main,
.mail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 40px;
  font-size: 46px;
  color: #202020;
}

.main__content {
  margin-top: 30px;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}


.mail-container__item {
  margin-bottom: 20px;
}

.mail-item {
  padding: 8px 12px;
  font-size: 12px;
  width: 100%;
  max-width: 700px;
  border: 1px solid #202020;
  border-radius: 5px;
}

.mail-item__header {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.mail-item__subject {
  margin-top: 5px;
  font-weight: 500;
}

.error {
  margin-top: 40px;
  font-size: 36px;
  color: darkred;
  text-align: center;
}

.domain {
  margin-top: 20px;
  font-weight: bold;
}

.refresh {
  border: 1px solid #202020;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.refresh:hover {
  background-color: #202020;
  color: white;
  transition: .4s;
}

.mail-item__message {
  margin-top: 15px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}